body {
  padding: 25px;
  background-color: #fafafa;
  background: linear-gradient(
      to bottom
      , #fafafa
      , #fafafa 140px
      , #b71c1c 142px
      , #b71c1c 480px
      , #fafafa 482px
      );
  background-attachment: fixed;
}

#contentouter {
  margin: 40px auto;
  background-color: #fff;
  max-width: 1200px;
  box-shadow: 0 0 4px 4px #222;
}

#content {
  margin: 20px auto;
  padding: 100px 25px;
  max-width: 700px;
  text-align: center;
}

.snippet {
  max-width: 90%;
  display: inline-block;
}


/* Fonts */

body, a:link, a:visited, a:hover {
	color: #222;
}

body {
	font-size: 16px;
  font-family: 'Muli', sans-serif;
}

p {
    line-height: 160%;
}

h1 {
  font-size: 3em;
}

.dllink {
  text-decoration: none;
}

h1,h2 {
  font-variant: small-caps;
	font-weight: bold;
}

h1,h2,img,p {
  margin-bottom: 40px
}

#copyright {
  font-size: 0.6em;
}
