html, body {
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
}

#content {
  margin: 100px auto;
  padding: 0px 40px;
  max-width: 700px;
  text-align: center;
}

#header-image {
  height: 240px;
}

#header {
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 60px solid #333333;
}

#header-inner {
  width: 100%;
  text-align: center;
}

.header-text {
  margin-top: 0px;
}

.snippet {
  max-width: 90%;
  max-height: 300px;
  display: inline-block;
}


/* Fonts */

body, a:link, a:visited, a:hover {
	color: #333333;
}

body {
	font-size: 16px;
  font-family: 'Muli', sans-serif;
}

p, h3 {
  margin: 40px 0px;
    line-height: 160%;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.4em;
}

.dllink {
  text-decoration: none;
}

h1,h2,h3 {
  font-variant: small-caps;
	font-weight: bold;
}

#copyright {
  font-size: 0.6em;
  margin-top: 80px;
}
